__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache
.coverage
htmlcov/
.git/
.github/
.vscode/
api_runs/
uploads/
campaign_runs/
campaign_runs_test/
outputs/
outputs_mock/
outputs_test/
jobs.db
